<html>
<head>
  <title>Forethought: A To-Do Tracker</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Amaranth:wght@700&family=Quicksand:wght@300&family=Zen+Loop&display=swap" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/3706e84bcf.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <h1>F <i class="fas fa-search header-icon"></i>r e t h o u g h t</h1>

    <div class="taskbar">

    <div class="addtask">
    <form action="/addtask" method="POST">
      <input class="newtask" test="text" name="newtask" placeholder="What do you need to do today?">
      <button class="addbutton">+<br />
    </div>

    <div class="left">
    <h2 class="todo">Do This!</h2>
    <% for( var i = 0; i < task.length; i++){ %>
      <li><input class="check" type="checkbox" name="check" value="<%= task[i] %>" /> <%= task[i] %></li>
    <% } %>
      <div class="align-bottom">
      <button class="completed" formaction="/removetask" type="submit">Complete Checked Tasks</button>
      </div>
    </div>

    <div class="right">
    <h2 class="complete">Completed</h2>
    <% for(var i = 0; i < complete.length; i++){ %>
      <li><input class="check" type="checkbox" checked><%= complete[i] %> </li>
    <% } %>
    </div>

  </div>
  </div>
</body>
</html>
